@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'sans-serif';
}

a, a:hover { 
    text-decoration: none;
    color: unset;
}

html, body {
    background-color: #DADADA;
}

main {
    padding: 0 20px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
} 

.dflex {
    display: flex;
}